/* Adding Colors */
.c-orange {
    color: orangered;
}

.c-dark-blue {
    color: rgba(14, 5, 66, 0.952);
}

.yellow {
    color: yellow;
}

/* Adding Font Family  */
body {
    font-family: 'Montserrat', sans-serif;
}

